{{> navbar }}
<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Administración</title>
        <link rel="stylesheet" href="./css/bootstrap.min.css"/>
      </head>
      <body style="background-color:darkgray">
        <div class="d-grid gap-2 col-6 mx-auto" style="display: flex; justify-content: center; align-items: center;">
          <button class="btn btn-primary" type="button">Agregar item</button>
          <button class="btn btn-primary" type="button">Eliminar item</button>
          <button class="btn btn-primary" type="button">Modificar item</button>
        </div>
      </body>